.bold {font-weight: bold}
.smaller { font-size: 70% }
.small { font-size: 80% }
.ssmall { font-size: 90% }
.large { font-size: 130% }
.larger { font-size: 150% }
.huge { font-size: 300% }

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }

.column-left-half{float: left; width: 50%;}
.column-right-half{float: right; width: 50%;}

.bottom {
	position: absolute;
	bottom: 30px;
}

.highlight {background-color: yellow;}